<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">

    <bean id="${type}MappingFactory" class="com.mls.pay.bankchannel.core.mapping.${typeClass}ChannelMappingFactory">
        <property name="mappingMap">
            <map key-type="java.lang.String"
                 value-type="com.mls.pay.bankchannel.core.channel.${type}.${typeClass}PayChannel">

                <entry key="${channelClass}" value-ref="${channel}"/>

            </map>
        </property>
    </bean>
    <import resource="${type}/spring-${channel}.xml"/>

</beans>
